*{
    margin:0 ;
    padding:0;

}

/* shared style */
.btn{
    padding:10px 30px;
    font-family:Fira Sans ;
    font-size: 24px;
    font-weight: 600;
    border-radius: 8px;
    transition: 0.2s;
}
.content {
    color: #525252;

}

body{
    background-color:#f5f5f5;
    margin-left:120px ;
    margin-right: 120px;
    font-family: Fira Sans ;
}

.nav-content{
    padding-top: 30px;
    display:flex ;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}
.nav-logo{
  font-family: Fira Sans ;
  font-size: 32px;
  font-weight: bold;
}
.header-btn{
    padding:10px 30px;
    font-family:Fira Sans ;
    font-size: 24px;
    font-weight: 600;
    color: rgb(10, 138, 10);
    border-radius: 8px;
    border:2px solid rgb(10, 138, 10);
    transition: 0.2s;
}

.header-btn:hover{
    background-color: aliceblue;
    cursor: pointer;
    border-color: rgb(27, 245, 45);
}

.banner-container{
    /* border:2px solid black; */
    border-radius: 24px;
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding-left: 100px;
    padding-right:50px;
    padding-top: 80px;
    padding-bottom: 80px;
    /* width: 1280px;
    height: 560px; */
}

.banner-subtitle{
    font-size: 24px;
    font-weight: medium;
    opacity: 40%;
}
.banner-title{
    margin-top: 30px;
    font-size: 52px;
    font-weight: bold;
}
.baanner-btn{
    margin-top: 30px;
    padding:18px 34px;
    font-family:Fira Sans ;
    background-color:#006A50 ;
    font-size: 18px;
    font-weight:700;
    color: white;
    border-radius:8px ;
    border:none;
}
.baanner-btn:hover{
    opacity: 0.8;
    cursor: pointer;
}
.main-container{
    margin-top: 190px;
    /* border:2px solid black; */
}

h1 .pillar-title{
  
    padding-top: 80px;
    font-family:Fira Sans ;
    font-size: 42px;

    font-family: bold;
    margin-bottom: 32;
   

}

.pillar-box{
    /* border:2px solid black 
    ; */
    margin-bottom: 40px;
    gap:24px;
    display: flex; 
    margin-top: 32px;
   
   

}

.pillar-box-1{
    border:1px solid rgb(194, 192, 192);
    border-radius:16px;
    background-color: #FFFFFF;
    width: 280px;
    height: 200px;
    padding: 24px;
   
}
.subtitle{
   color:rgb(68, 68, 68);
   margin-bottom: 5px;
}
.pillar-box-1 img{
    margin-bottom: 24px;
}
.pillar-box-1 h3{
   font-family: Fira Sans;
   font-size: 20px;
   font-weight: bold;
   padding-bottom: 4px;
}
.pillar-box-1  .content {
      color: #525252;

}

/* vision style */
.vision-container{
    margin-top: 120px;
}

.vision-title{
    margin-bottom: 24px;
}
.vision-content{
    margin-bottom: 32px;
}

.vision-box-container{
    /* border:2px solid black ; */
    margin-bottom: 30px;
    display: flex;
    gap:24px;
}

.vision-box-1{
    /* border:2px solid black ; */
    border-radius: 16px;
    padding: 32px;
    width:330px;
    height: 265px;
    background-color:rgb(210, 231, 250);
}
.vision-box-2{
    background-color:#C6E4D6 ;
}
.vision-box-3{
    background-color:#F7EBCF ;
}
.vision-box-1 img{
    margin-bottom: 24px;
}

.vision-subtitle{
    margin-bottom: 24px;
}
.vision-content{
    margin-bottom: 24px;
}
.vision-btn{

    border: none;
    border-radius: 8px;
    padding:11px 20px ;
    background-color:#5490F5 ;
    margin-bottom: 32px;
    font-weight: 700;
    color: white;
    font-size: 16px;
    transition: 0.2s;
}
.btn-2{
   background-color:#09A15C ;
}

.btn-3{

}
.vision-btn:hover{
       opacity: 0.8;
}

.recent-box-container{
    /* border: 2px solid black; */
    /* margin: 50px; */
    width:1220px;
    margin-top: 20px;
    

    
}
.recent-title{
    margin-top: 100px;
    padding-top:38px;
}



.recent-box-1{
    /* border: 2px solid black; */
    border-radius: 24px;
    padding: 48px;
    gap: 32px;
    height: 300px;
    display:flex;
    margin:24px ;
    background-color:#FFFFFF  ;
    margin-bottom: 24px;
   
    
}
.recent-box-1-img img{
    /* border:  2px solid black; */
    border-radius:24px ;
}
.recent-box-1-content h1{
    margin-bottom: 12px;
}
.recent-box-1-content img{
    margin-bottom: 12px;
}
.recent-box-1-content .recent-1-date{
    margin-bottom: 12px;
}

.recent-1-content{
    color:rgb(99, 98, 98)
    
}
.recent-box-1-content .recent-1-content{
    margin-bottom: 24px;
}
.recent-box-1-btn{
    margin-top: 10px;
    padding:15px 26px;
    background-color:#006A50 ; 
    color:white;
    border:none;
    border-radius: 8px;
    font-family: Fira Sans;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: 0.1s;
}
.recent-box-1-btn:hover{
    opacity: 0.8;
     
}

.donate-container{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.donate-subtitle{
    margin-top: 24px;
}

.money-card-contianer{
    /* border:2px solid black; */
    margin-top:32px ;
    margin-bottom:32px ;
    display:flex;
    justify-content:space-evenly;
}
.money-card-1{
    /* border:2px solid black; */
    width:240px;
    height: 120px;
    border-radius:16px;
    background-color: #ffffff;
    cursor: pointer;
    transform: 0.2s;
    box-shadow: 5px 8px 8px rgb(170, 169, 169);
    margin-bottom: 32px;
  
}
.money-card-1:hover{
    opacity: 0.8;
}
.money-2{
    background-color: #ffffff;
}
.money-3{
    background-color: #f8e8ca;
}
.money-4{
    background-color:#f8e8ca;
}
.money-1:hover,.money-2:hover{
    background-color: rgb(208, 207, 207);
    color: rgb(46, 45, 45);
}
.money-3:hover,.money-4:hover{
    background-color:#ffffff;
    color: rgb(46, 45, 45);
}

.money-card-1 .amount h1{
    padding:35px;
    font-size: 35px;
}
.other-amount input{
    border:none;
    border-radius: 5px;
   height: 64px; 
   width: 1062px;
   margin-bottom: 32px;
   font-size: 20px;
   color:rgb(152, 151, 151);
   text-align: center;
}

.money-btn{
    border: none;
    border-radius:8px ;
    padding:17px 34px;
    background-color: #006A50;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;

}
.money-btn:hover{
    opacity: 0.8;
}









